:root {
  --primary: rgb(24, 24, 27);
  --secondary: rgb(30, 215, 96);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../font/Open-Sans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../font/Open-Sans-Regular.ttf") format("truetype");
}

h1,
h2,
h3 {
  font-family: "Open Sans Bold", sans-serif;
  font-weight: 500;
}

p {
  font-weight: 400;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

* {
  font-family: "Open Sans Regular", sans-serif;
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--primary);
}

.mt-5 {
  margin-top: 15px;
}

header {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

header h1 {
  position: relative;
  top: 5px;
}

main.container {
  padding-top: 100px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin-top: 50px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.authcode-wrapper {
  width: 300px;
  margin-right: 50px;
}

.flex-container {
  display: flex;
  width: 100%;
}

#codeBox1 {
  margin-left: 56px;
}

.otp {
  -moz-appearance: textfield;
  background: transparent;
  border: none;
  border-bottom: 1px var(--secondary) solid;
  font-size: 50px;
  width: 30px;
  text-align: center;
  margin: 0 10px 0 10px;
}

.auth-first {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
}

.otp::placeholder {
  color: rgb(60, 60, 60);
}

.img-step {
  max-width: 600px;
  position: relative;
  left: -25px;
}

.dropzone {
  flex: 1;
  border: 5px rgb(60, 60, 60) dashed;
  border-radius: 10px;
  height: 300px;
  background-color: transparent;
  position: relative;
}

.dz-button {
  font-family: "Open Sans Bold", sans-serif !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  color: rgb(60, 60, 60) !important;
}

.dropzone .dz-preview.dz-file-preview .dz-details *,
.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
  /* color: rgb(24, 24, 27) !important; */
  background-color: transparent;
}

.dropzone .dz-preview.dz-image-preview,
.dropzone .dz-preview.dz-file-preview .dz-image {
  background-color: rgb(60, 60, 60) !important;
  background: rgb(60, 60, 60) !important;
}

.drop h2 {
  color: rgb(60, 60, 60);
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.divider {
  margin: 30px 0px 30px 0px;
  width: 100%;
  height: 1px;
  background-color: rgb(60, 60, 60);
}

.spotistats-button {
  border: none;
  width: 100%;
  background-color: #1e2e29;
  color: var(--secondary) !important;
  height: 40px;
  font-family: "Open Sans Bold", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #1e2e29 radial-gradient(circle, transparent 1%, #1e2e29 1%)
    center/15000%;
}
.ripple:active {
  background-color: rgb(31, 68, 44);
  background-size: 100%;
  transition: background 0s;
}
blockquote {
  margin-top: 5px;
  padding-left: 10px;
  border-left: 5px solid rgb(60, 60, 60);
}
.article-padding {
  margin-top: 30px;
}
